.borderRadiusTopOnly {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.borderRadiusBottomOnly {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.resultPath {
  font-family: 'Source Code Pro', monospace;
}

.error {
  white-space: pre-wrap;
}